.tweeter-nav {
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  height: 120px;
  display: flex;
  background-color: #4056A1;
  position: fixed;
  top: 0;
  width: 100%;
}

.left-section {
  display: flex;
  align-items: center;
}

.tweeter-span {
  font-size: 2em;
  font-family: 'Bungee', cursive;
  font-weight: normal;
  margin-left: 1.5em;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5em;
}

.write-span {
  margin-top: 0.25em;
  margin-right: 0.5em;
}

.icon-section {
  margin-top: 0.25em;
}